@import "vars";

/*==========  Desktop First  ========== */

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

	.social-links {
		padding: 10px 0;
		a {
			margin-left: 15px;
		}
		&:first-child {
			margin-left: 0;
		}
	}

	.testimonials-item {
		padding-left: 0;
		padding-right: 0;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

	.header-content {
		padding-top: 70px;
		padding-bottom: 50px;
	}

	.social-media {
		text-align: center;
	}

	.social-links {
		text-align: center;
	}

	.tabs-section {
		padding-top: 60px;
		padding-bottom: 50px;
	}

	.tab-content h3 {
		margin-bottom: 20px;
	}

	.tabs {
		text-align: center;
		margin-bottom: 40px;
		.tab {
			display: inline-block;
			&.tab-1 {
				border-radius: 4px 0 0  4px ;
			}
			&.tab-3 {
				border-radius: 0 4px 4px 0;
			}
		}
	}

	.picture-section {
		.img-wrapper {
			margin-left: 0;
			margin-right: 0;
		}
	}

	.picture-section-text {
		padding: 0;
		padding-left: 20px;
		padding-right: 20px;
	}

	.picture-section.standard {
		.picture-section-text {
			padding-left: 20px;
			padding-right: 20px;
		}
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {

	h1, h2 {
		font-size: 30px;
	}

	.toggle-mnu {
		display: block;
	}

	.header-nav {
		display: none;
		float: none;
		position: absolute;
		width: 200px;
		max-width: 320px;
		right:-15px;
		top:70px;
		li {
			display: block;
			background-color: #000;
			border-top: 1px solid #333;
			&:hover {
				background-color: lighten(#000, 10%);
			}
		}
		a {
			padding: 10px 20px;
		}
	}

	.header-content {
		padding-top: 50px;
		padding-bottom: 30px;
		text-align: center;
		h1::after {
			left:50%;
			margin-left: -33px;
		}
	}

	.header-form {
		padding-top: 30px;
		text-align: center;
		form {
			margin: 0;
		}
	}

	.social-links {
		a {
			width: 48px;
			height: 55px;
			margin-bottom: 10px;
			.fa {
				font-size: 38px;
				line-height: 55px;
			}
		}
	}

	.tab-content p {
		padding-right: 0;
	}

	.tab-item-img {
		text-align: center;
	}

	.tab-btn {
		margin-top: 20px;
	}

	.picture-section {
		padding-top: 20px;
		padding-bottom: 30px;
		&.standard {
			.img-wrapper {
				margin-top: 20px;
			}
		}
		.img-wrapper {
			margin-top: 20px;
		}
		.text-align {
			text-align: center;
		}
	}

	.picture-section.standard {
		.text-align{
			text-align: center;
		}
	}

	.why-section {
		padding-top: 10px;
		padding-bottom: 20px;
		.h2-wrapper {
			margin-bottom: 10px;
		}
	}

	.why-item {
		padding-left: 50px;
		padding-right: 50px;
		padding-top: 20px;
		padding-bottom: 10px;
	}

	.pricing-section {
		padding-top: 10px;
		padding-bottom: 10px;
		.h2-wrapper {
			margin-bottom: 50px;
		}
	}

	.pricing-item {
		padding: 0;
		max-width: 400px;
		margin: auto;
		margin-bottom: 40px;
	}

	.testimonials {
		padding-top: 10px;
		padding-bottom: 30px;
		.h2-wrapper {
			margin-bottom: 0;
		}
	}

	.testimonials-item {
		padding-left: 50px;
		padding-right: 50px;
		& > p {
			width: 80%;
		}
	}

	.bottom-banner {
		padding-top: 10px;
		padding-bottom: 40px;
	}

	.contact-us {
		padding-top: 10px;
		padding-bottom: 40px;
		.h2-wrapper {
			margin-bottom: 40px;
		}
		textarea {
			min-height: 70px;
			margin-bottom: 20px;
		}
	}

	.contact-us-left,
	.contact-us-right {
		padding: 0;
		max-width: 360px;
		margin: auto;
	}

}


/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

	.header-content {
		padding-top: 30px;
		padding-bottom: 20px;
		img {
			width: 140px;
		}
		h1 {
			font-size: 20px;
			margin-bottom: 45px;
		}
		p {
			font-size: 15px;
			margin-bottom: 30px;
		}
	}

	.header-form {
		padding-top: 25px;
		padding-bottom: 30px;
		form {
			width: 290px;
		}
	}

	.tabs-section {
		padding-top: 40px;
		padding-bottom: 30px;
		h3 {
			margin-bottom: 15px;
		}
	}

	.tabs {
		margin-bottom: 30px;
		.tab {
			width: 80px;
			height: 80px;
			line-height: 80px;
		}
	}

	.tab-content {
		text-align: center;
	}

	.picture-section {
		padding-bottom: 20px;
	}

	.picture-section-text {
		padding-left: 0;
		padding-right: 0;
		ul {
			padding-left: 50px;
			.fa {
				left: -50px;
			}
		}
	}

	.picture-section.standard {
		.picture-section-text {
			padding-left: 0px;
			padding-right: 0px;
		}
	}

	.why-section {
		h2 {
			font-size: 24px;
		}
	}

	.why-item {
		padding-left: 0px;
		padding-right: 0px;
	}

	.pricing-section {
		.h2-wrapper {
			margin-bottom: 30px;
		}
		h2 {
			font-size: 24px;
		}
	}

	.testimonials {
		h2 {
			font-size: 24px;
		}
	}

	.testimonials-item {
		padding-left: 10px;
		padding-right: 10px;
		& > p {
			width: 100%;
		}
	}

	.bottom-banner h2 {
		font-size: 24px;
	}

	.contact-us h2 {
		font-size: 24px;
	}

	.main-footer {
		padding-bottom: 20px;
	}

	.footer-social-links {
		a {
			width: 30px;
			height: 30px;
			margin-left: 9px;
			margin-bottom: 5px;
		}
	}

	.to-top{
		width: 35px;
		height: 35px;
		right: 10px;
		bottom: 10px;
		.fa {
			line-height: 35px;
		}
	}

}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /* */
}

/*==========  Mobile First  ========== */

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /* */
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /* */
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
	h1, h2 {
		font-size: 22px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
	h1, h2 {
		font-size: 30px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /* */
}